name: Flask Docker CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/vaishali/Python_Flask
            # Build image
            
            docker build -t flask-app:versiongithub .

             # Stop old container if running
            docker stop flask_container || true
            docker rm flask_container || true

            # Run new container
            docker run -d  --name flask_container -p 5000:5000 flask-app:versiongithub

            
            # docker pull ${{ secrets.DOCKER_USERNAME }}/flask-app:latest
            # docker stop flask_container || true
            # docker rm flask_container || true
            # docker run -d -p 5000:5000 --name flask_container ${{ secrets.DOCKER_USERNAME }}/flask-app:latest


      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Build Docker image
      #   run: |
      #     docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-app:latest .

      # - name: Push Docker image
      #   run: |
      #     docker push ${{ secrets.DOCKER_USERNAME }}/flask-app:latest

